* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kaisei HarunoUmi", serif;
  scroll-behavior: smooth;
}

.cont-error {
  text-align: center;
  margin-top: 10vh;
}
.cont-error h1 {
  font-size: 3vw;
  text-transform: uppercase;
}
.cont-error p {
  font-size: 2vw;
  font-weight: 100;
  margin-bottom: 5vh;
}
.cont-error .btn-error {
  background-color: #ffaa00;
  padding: 1vw 1.5vw;
  border-radius: 0.5vw;
  text-decoration: none;
  text-transform: uppercase;
  color: #161515;
}

.teemo {
  width: 15%;
}

.btn-up i {
  color: #ffaa00;
  background: black;
  font-size: 5rem;
  padding: 0rem;
  border-radius: 160rem;
}

.btn-up {
  position: fixed;
  bottom: 5vh;
  right: 5vw;
}

header {
  width: 100vw;
}
header .nav-menu {
  background-color: #201f1f;
}
header .nav-menu .cont-logo-btn .logo {
  width: 12vw;
}
header .nav-menu .cont-logo-btn .cont-boton-responsive {
  margin-right: 2vw;
}
header .nav-menu .cont-logo-btn .cont-boton-responsive .boton-novisible {
  background-color: #201f1f;
  border: none;
}
header .nav-menu .cont-logo-btn .cont-boton-responsive .boton-novisible .boton-responsive {
  font-size: 4vw;
  color: #ffaa00;
}
header .nav-menu .fondo-menu {
  background-color: #201f1f;
}
header .nav-menu .fondo-menu div .lolguide {
  color: white;
  font-size: 1.5vw;
  text-transform: uppercase;
}
header .nav-menu .fondo-menu div .boton-cerrar {
  background-color: white;
}
header .nav-menu .fondo-menu div .link {
  color: #ffaa00;
  text-transform: uppercase;
  padding: 2vw 0;
  transition: all 1s;
  font-size: 1.5vw;
}
header .nav-menu .fondo-menu div .link:hover {
  color: #ffffffea;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #201f1f;
}
.footer .cont-redes__titulo {
  color: #ffaa00;
  font-size: 2vw;
  text-transform: capitalize;
  padding: 3vw 0;
  width: 40vw;
  text-align: center;
}
.footer .cont-redes__lista {
  color: #ffffffea;
  list-style: none;
}
.footer .cont-redes__lista li {
  padding-bottom: 2vw;
}
.footer .cont-redes__lista li a {
  color: #ffaa00;
  text-decoration: none;
  margin-left: 1vw;
  font-size: 1.5vw;
  transition: all 1s;
}
.footer .cont-redes__lista li a:hover {
  color: #ffffffea;
}
.footer .cont-derechos__texto {
  width: 40vw;
  text-align: center;
  font-size: 1.5vw;
  color: #ffffffea;
  padding-top: 1vh;
  text-align: center;
}

.banner {
  background-image: url(../imgs/banner-2-real.jpg);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.6);
  background-attachment: fixed;
}

.cont-titulo-banner {
  position: absolute;
  text-align: center;
  top: 35vh;
  left: 15vw;
  animation-name: backInDown;
  animation-duration: 1s;
}
.cont-titulo-banner__titulo {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 9vw;
  animation-name: banner-animation;
  animation-duration: 4.5s;
}
@keyframes banner-animation {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vh 0;
  background-color: #262a31;
}
.section__cont-textos {
  width: 50vw;
  margin-bottom: 10vh;
}
.section__cont-textos h2 {
  font-size: 2.5w;
  color: #ffaa00;
  text-align: center;
  padding: 5vh 0;
  font-weight: bolder;
  text-decoration: underline;
  text-transform: uppercase;
}
.section__cont-textos p {
  font-size: 1.5vw;
  color: #ffffffea;
  line-height: 3vw;
  padding-bottom: 5vh;
  text-align: left;
}
.section__cont-textos img {
  width: 50vw;
  height: 80vh;
  padding: 4vh 0;
  max-width: 100%;
}

#main-fundamentos .banner-fundamentos {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.6);
  background-attachment: fixed;
  background-image: url(../imgs/imagenes-fundamentos/banner-fundamentos.png);
}
#main-fundamentos .cont-titulo-fund {
  position: absolute;
  text-align: center;
  top: 35vh;
  left: 5vw;
}
#main-fundamentos .cont-titulo-fund__titulo {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 9vw;
  animation-name: backInDown;
  animation-duration: 1.5s;
}
#main-fundamentos .section-fund {
  background-color: #262a31;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main-fundamentos .section-fund .cont-dropdowns {
  display: flex;
}
#main-fundamentos .section-fund .cont-dropdowns div {
  margin: 15vh 2vw 4vh 2vw;
}
#main-fundamentos .section-fund .cont-dropdowns div .boton-dropdown {
  background-color: #fdb82d;
  color: black;
}
#main-fundamentos .section-fund__cont-texto {
  width: 50vw;
  padding: 7vh 0 0 0;
}
#main-fundamentos .section-fund__cont-texto p {
  font-size: 1.5vw;
  color: #ffffffea;
  line-height: 3vw;
  padding-bottom: 5vh;
  text-align: left;
}
#main-fundamentos .section-fund__cont-texto p a {
  color: #ffaa00;
  font-size: 1.3vw;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 1vw;
}
#main-fundamentos .section-fund__cont-texto h4 {
  text-align: left;
  color: #fdbf42;
  font-size: 2vw;
  padding: 3vh 0;
  text-transform: uppercase;
}
#main-fundamentos .section-fund__cont-texto h3 {
  text-align: center;
  color: #fab62d;
  font-size: 2.2vw;
  font-weight: lighter;
  padding: 4vh 0;
  text-transform: uppercase;
}
#main-fundamentos .section-fund__cont-texto h2 {
  font-size: 2.5w;
  color: #ffaa00;
  text-align: center;
  padding: 5vh 0;
  font-weight: bolder;
  text-decoration: underline;
  text-transform: uppercase;
}
#main-fundamentos .section-fund__cont-texto img {
  padding: 3vh 0;
  width: 50vw;
}

#main-avanzado {
  background-color: #262a31;
}
#main-avanzado .banner-avanzado {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.6);
  background-attachment: fixed;
  background-image: url(../imgs/imagenes-avanzado/banner-avanzado.png);
}
#main-avanzado .cont-titulo-avanzado {
  position: absolute;
  text-align: center;
  top: 35vh;
}
#main-avanzado .cont-titulo-avanzado__titulo {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 9vw;
  animation-name: backInDown;
  animation-duration: 1.5s;
}
#main-avanzado .section2-avanzado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main-avanzado .section2-avanzado .cont-dropdowns {
  display: flex;
}
#main-avanzado .section2-avanzado .cont-dropdowns div {
  margin: 15vh 2vw 4vh 2vw;
}
#main-avanzado .section2-avanzado .cont-dropdowns div .boton-dropdown {
  background-color: #fdb82d;
  color: black;
}
#main-avanzado .section2-avanzado__cont-textos {
  width: 50vw;
  margin: 5vh 0;
}
#main-avanzado .section2-avanzado__cont-textos h2 {
  font-size: 2.5w;
  color: #ffaa00;
  text-align: center;
  padding: 5vh 0;
  font-weight: bolder;
  text-decoration: underline;
  text-transform: uppercase;
}
#main-avanzado .section2-avanzado__cont-textos h3 {
  text-align: center;
  color: #fab62d;
  font-size: 2.2vw;
  font-weight: lighter;
  padding: 4vh 0;
  text-transform: uppercase;
}
#main-avanzado .section2-avanzado__cont-textos h4 {
  text-align: left;
  color: #fdbf42;
  font-size: 2vw;
  padding: 3vh 0;
  text-transform: uppercase;
}
#main-avanzado .section2-avanzado__cont-textos p {
  font-size: 1.5vw;
  color: #ffffffea;
  line-height: 3vw;
  padding-bottom: 5vh;
  text-align: left;
}
#main-avanzado .section2-avanzado__cont-textos img {
  padding: 3vh 0;
  width: 50vw;
}

#main-adc {
  background-color: #262a31;
}
#main-adc .banner-adc {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.6);
  background-attachment: fixed;
  background-image: url(../imgs/imagenes-AdcGuide/banner-adc.png);
}
#main-adc .cont-titulo-adc {
  position: absolute;
  text-align: center;
  top: 40vh;
  left: 10vw;
}
#main-adc .cont-titulo-adc__titulo {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 9vw;
  animation-name: backInDown;
  animation-duration: 1.5s;
}
#main-adc .section-guiaAdc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main-adc .section-guiaAdc .cont-dropdowns {
  display: flex;
}
#main-adc .section-guiaAdc .cont-dropdowns div {
  margin: 15vh 2vw 4vh 2vw;
}
#main-adc .section-guiaAdc .cont-dropdowns div .boton-dropdown {
  background-color: #fdb82d;
  color: black;
}
#main-adc .section-guiaAdc__cont-texto {
  width: 50vw;
}
#main-adc .section-guiaAdc__cont-texto h2 {
  font-size: 2.5w;
  color: #ffaa00;
  text-align: center;
  padding: 5vh 0;
  font-weight: bolder;
  text-decoration: underline;
  text-transform: uppercase;
}
#main-adc .section-guiaAdc__cont-texto h3 {
  text-align: center;
  color: #fab62d;
  font-size: 2.2vw;
  font-weight: lighter;
  padding: 4vh 0;
  text-transform: uppercase;
}
#main-adc .section-guiaAdc__cont-texto p {
  text-align: left;
  color: #ffffff;
  font-size: 1.5vw;
  padding: 1vw 0;
  line-height: 3vw;
}
#main-adc .section-guiaAdc__cont-texto img {
  padding: 3vh 0;
  width: 50vw;
}

#main-conoceme {
  background-color: #262a31;
}
#main-conoceme .banner-conoceme {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.6);
  background-attachment: fixed;
  background-image: url(../imgs/imagenes-conoceme/banner-conoceme.png);
}
#main-conoceme .cont-titulo-conoceme {
  position: absolute;
  text-align: center;
  top: 45vh;
  left: 15vw;
}
#main-conoceme .cont-titulo-conoceme__titulo {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 9vw;
  animation-name: backInDown;
  animation-duration: 1.5s;
}
#main-conoceme .section-conoceme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main-conoceme .section-conoceme__cont-texto {
  width: 55vw;
  padding-top: 15vh;
}
#main-conoceme .section-conoceme__cont-texto .slide {
  padding-bottom: 3vh;
}
#main-conoceme .section-conoceme__cont-texto .slide img {
  height: 80vh;
  width: 70vw;
}
#main-conoceme .section-conoceme__cont-texto .titulo-carrusel {
  font-size: 4vw;
  text-align: center;
}
#main-conoceme .section-conoceme__cont-texto h3 {
  text-align: center;
  color: #fab62d;
  font-size: 2.2vw;
  font-weight: lighter;
  padding: 4vh 0;
  text-transform: uppercase;
}
#main-conoceme .section-conoceme__cont-texto h2 {
  font-size: 2.5w;
  color: #ffaa00;
  text-align: center;
  padding: 5vh 0;
  font-weight: bolder;
  text-decoration: underline;
  text-transform: uppercase;
}
#main-conoceme .section-conoceme__cont-texto p {
  font-size: 1.5vw;
  color: #ffffffea;
  line-height: 3vw;
  padding-bottom: 5vh;
  text-align: left;
}
#main-conoceme .section-conoceme__cont-texto .opgg {
  color: #ffaa00;
}
#main-conoceme .section-conoceme__cont-texto .cont-ul-conoceme {
  display: flex;
  align-items: center;
  justify-content: center;
}
#main-conoceme .section-conoceme__cont-texto ul {
  margin: 5vw;
}
#main-conoceme .section-conoceme__icono {
  color: white;
  font-size: 15vw;
  text-decoration: none;
}

@media screen and (max-width: 860px) {
  .btn-up i {
    font-size: 50px;
  }

  .btn-up {
    bottom: 7vh;
    right: 2vw;
    z-index: 10000;
  }

  header .nav-menu {
    height: 18vh;
  }
  header .nav-menu .cont-logo-btn .logo {
    width: 100px;
  }
  header .nav-menu .cont-logo-btn .cont-boton-responsive {
    margin-right: 4vw;
  }
  header .nav-menu .cont-logo-btn .cont-boton-responsive .boton-novisible .boton-responsive {
    font-size: 40px;
  }
  header .nav-menu .fondo-menu div .lolguide {
    font-size: 16px;
  }
  header .nav-menu .fondo-menu div .boton-cerrar {
    margin-right: 3vw;
  }
  header .nav-menu .fondo-menu div .link {
    padding: 4vh 0;
    font-size: 16px;
  }

  .footer .cont-redes__titulo {
    font-size: 15px;
    padding: 5vh 0 3vh 0;
    width: 55vw;
  }
  .footer .cont-redes__lista li {
    padding-bottom: 4vh;
  }
  .footer .cont-redes__lista li a {
    margin-left: 2vw;
    font-size: 13px;
  }
  .footer .cont-derechos__texto {
    width: 55vw;
    font-size: 10px;
    padding-top: 1vh;
  }

  .banner {
    height: 80vh;
  }

  .section__cont-textos {
    width: 70vw;
    margin-bottom: 0;
  }
  .section__cont-textos h2 {
    font-size: 20px;
    color: #ffaa00;
    text-align: center;
    padding-top: 10vh;
  }
  .section__cont-textos p {
    font-size: 16px;
    line-height: 35px;
  }
  .section__cont-textos img {
    width: 70vw;
    height: auto;
    padding: 4vh 0;
    max-width: 100%;
  }

  #main-fundamentos .banner-fundamentos {
    height: 80vh;
  }
  #main-fundamentos .section-fund .cont-dropdowns {
    flex-direction: column;
  }
  #main-fundamentos .section-fund .cont-dropdowns div {
    margin: 5vh 0;
  }
  #main-fundamentos .section-fund .cont-dropdowns div .boton-dropdown {
    width: 50vw;
  }
  #main-fundamentos .section-fund .cont-dropdowns div .lista-dropdown {
    width: 50vw;
  }
  #main-fundamentos .section-fund__cont-texto {
    width: 70vw;
    padding: 7vh 0 0 0;
  }
  #main-fundamentos .section-fund__cont-texto p {
    font-size: 16px;
    line-height: 35px;
    padding-bottom: 5vh;
  }
  #main-fundamentos .section-fund__cont-texto p a {
    font-size: 12px;
    padding-left: 2vw;
  }
  #main-fundamentos .section-fund__cont-texto h4 {
    font-size: 16px;
    padding-top: 3vh;
  }
  #main-fundamentos .section-fund__cont-texto h3 {
    font-size: 18px;
  }
  #main-fundamentos .section-fund__cont-texto h2 {
    font-size: 20px;
    padding-bottom: 5vh;
  }
  #main-fundamentos .section-fund__cont-texto img {
    padding: 2vh 0;
    width: 70vw;
  }

  #main-avanzado .banner-avanzado {
    height: 80vh;
  }
  #main-avanzado .section2-avanzado .cont-dropdowns {
    flex-direction: column;
  }
  #main-avanzado .section2-avanzado .cont-dropdowns div {
    margin: 5vh 0;
  }
  #main-avanzado .section2-avanzado .cont-dropdowns div .boton-dropdown {
    width: 50vw;
  }
  #main-avanzado .section2-avanzado .cont-dropdowns div .lista-dropdown {
    width: 50vw;
  }
  #main-avanzado .section2-avanzado__cont-textos {
    width: 70vw;
    margin: 5vh 0;
  }
  #main-avanzado .section2-avanzado__cont-textos h2 {
    font-size: 20px;
    padding: 2vh 0;
  }
  #main-avanzado .section2-avanzado__cont-textos h3 {
    font-size: 18px;
    padding-top: 5vw;
  }
  #main-avanzado .section2-avanzado__cont-textos h4 {
    font-size: 16px;
    padding-top: 3vh;
  }
  #main-avanzado .section2-avanzado__cont-textos p {
    font-size: 16px;
    line-height: 35px;
  }
  #main-avanzado .section2-avanzado__cont-textos img {
    padding: 3vh 0;
    width: 70vw;
  }

  #main-adc .banner-adc {
    height: 80vh;
  }
  #main-adc .section-guiaAdc .cont-dropdowns {
    flex-direction: column;
  }
  #main-adc .section-guiaAdc .cont-dropdowns div {
    margin: 5vh 0;
  }
  #main-adc .section-guiaAdc .cont-dropdowns div .boton-dropdown {
    width: 50vw;
  }
  #main-adc .section-guiaAdc .cont-dropdowns div .lista-dropdown {
    width: 50vw;
  }
  #main-adc .section-guiaAdc__cont-titulo {
    width: 60vw;
  }
  #main-adc .section-guiaAdc__cont-texto {
    width: 70vw;
  }
  #main-adc .section-guiaAdc__cont-texto h2 {
    font-size: 18px;
    padding-top: 4vw;
  }
  #main-adc .section-guiaAdc__cont-texto h3 {
    font-size: 16px;
    padding-top: 4vw;
  }
  #main-adc .section-guiaAdc__cont-texto p {
    font-size: 16px;
    padding: 2vw 0;
    line-height: 35px;
  }
  #main-adc .section-guiaAdc__cont-texto img {
    padding: 3vh 0;
    width: 70vw;
  }

  #main-conoceme .banner-conoceme {
    height: 80vh;
  }
  #main-conoceme .cont-titulo-conoceme {
    top: 40vh;
  }
  #main-conoceme .section-conoceme__cont-texto {
    width: 70vw;
    padding-top: 15vh;
  }
  #main-conoceme .section-conoceme__cont-texto .slide {
    padding-bottom: 10vh;
  }
  #main-conoceme .section-conoceme__cont-texto .slide img {
    height: 40vh;
    width: 80vw;
  }
  #main-conoceme .section-conoceme__cont-texto .titulo-carrusel {
    font-size: 25px;
    text-align: center;
  }
  #main-conoceme .section-conoceme__cont-texto h3 {
    font-size: 16px;
  }
  #main-conoceme .section-conoceme__cont-texto h2 {
    font-size: 18px;
  }
  #main-conoceme .section-conoceme__cont-texto p {
    font-size: 16px;
    line-height: 35px;
  }
  #main-conoceme .section-conoceme__cont-texto .opgg {
    color: #ffaa00;
  }
  #main-conoceme .section-conoceme__cont-texto ul {
    padding-bottom: 0;
  }
  #main-conoceme .section-conoceme__cont-texto li {
    padding: 5vh 5vw;
  }
  #main-conoceme .section-conoceme__icono {
    color: white;
    font-size: 15vw;
    text-decoration: none;
  }
}

/*# sourceMappingURL=estilos.css.map */
