* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kaisei HarunoUmi", serif;
  scroll-behavior: smooth;
}

.btn-up i {
  color: #ffaa00;
  background: black;
  font-size: 5rem;
  padding: 0rem;
  border-radius: 160rem;
}

.btn-up {
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  z-index: 10000;
}

// mixins para los banners
@mixin banners {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.6);
  background-attachment: fixed;
}
@mixin cont-titulo-banner {
  position: absolute;
  text-align: center;
}
@mixin titulo-banner {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 9vw;
}

// mixins para los titulos, subtitulos y parrafos
@mixin h4 {
  text-align: left;
  color: #fdbf42;
  font-size: 2vw;
  padding: 3vh 0;
  text-transform: uppercase;
}
@mixin h3 {
  text-align: center;
  color: #fab62d;
  font-size: 2.2vw;
  font-weight: lighter;
  padding: 4vh 0;
  text-transform: uppercase;
}
@mixin h2 {
  font-size: 2.5w;
  color: #ffaa00;
  text-align: center;
  padding: 5vh 0;
  font-weight: bolder;
  text-decoration: underline;
  text-transform: uppercase;
}
@mixin parrafo {
  font-size: 1.5vw;
  color: #ffffffea;
  line-height: 3vw;
  padding-bottom: 5vh;
  text-align: left;
}

// mixins para los elementos flexibles
@mixin flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// css para el nav de bootstrap
header {
  width: 100vw;
  .nav-menu {
    background-color: #201f1f;

    //   css para el nav no-desplegable
    .cont-logo-btn {
      .logo {
        width: 12vw;
      }
      .cont-boton-responsive {
        margin-right: 2vw;
        .boton-novisible {
          background-color: #201f1f;
          border: none;
          .boton-responsive {
            font-size: 4vw;
            color: #ffaa00;
          }
        }
      }
    }

    // css para el nav desplegable
    .fondo-menu {
      background-color: #201f1f;
      div {
        .lolguide {
          color: white;
          font-size: 1.5vw;
          text-transform: uppercase;
        }
        .boton-cerrar {
          background-color: white;
        }
      }
      div {
        .link {
          color: #ffaa00;
          text-transform: uppercase;
          padding: 2vw 0;
          transition: all 1s;
          font-size: 1.5vw;
        }
        .link:hover {
          color: #ffffffea;
        }
      }
    }
  }
}

// css para el footer
.footer {
  @include flex;
  background-color: #201f1f;

  // css para las redes sociales
  .cont-redes {
    &__titulo {
      color: #ffaa00;
      font-size: 2vw;
      text-transform: capitalize;
      padding: 3vw 0;
      width: 40vw;
      text-align: center;
    }
    &__lista {
      color: #ffffffea;
      list-style: none;
      li {
        padding-bottom: 2vw;
        a {
          color: #ffaa00;
          text-decoration: none;
          margin-left: 1vw;
          font-size: 1.5vw;
          transition: all 1s;
        }
        a:hover {
          color: #ffffffea;
        }
      }
    }
  }

  // css para los derechos de autor
  .cont-derechos {
    &__texto {
      width: 40vw;
      text-align: center;
      font-size: 1.5vw;
      color: #ffffffea;
      padding-top: 1vh;
      text-align: center;
    }
  }
}

// css para el main de Index

// css para el banner
.banner {
  background-image: url(../imgs/banner-2-real.jpg);
  @include banners;
}

// css para el h1 del banner
.cont-titulo-banner {
  @include cont-titulo-banner;
  top: 35vh;
  left: 15vw;
  animation-name: zoomInDown;
  animation-duration: 1s;
  &__titulo {
    @include titulo-banner;
    animation-name: banner-animation;
    animation-duration: 4.5s;
  }
  @keyframes banner-animation {
    0% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
}
// css para el contenido principal de Index
.section {
  @include flex;
  padding: 10vh 0;
  background-color: #262a31;
  &__cont-textos {
    width: 50vw;
    margin-bottom: 10vh;
    animation-name: fadeInLeft;
    animation-duration: 1.7s;
    h2 {
      @include h2;
    }
    p {
      @include parrafo;
    }
    img {
      width: 50vw;
      height: 80vh;
      padding: 4vh 0;
      max-width: 100%;
    }
  }
}

// css para fundamentos principales
#main-fundamentos {
  .banner-fundamentos {
    @include banners;
    background-image: url(../imgs/imagenes-fundamentos/banner-fundamentos.png);
  }
  // css para el título de fundamentos
  .cont-titulo-fund {
    @include cont-titulo-banner;
    top: 35vh;
    left: 5vw;
    &__titulo {
      @include titulo-banner;
      animation-name: backInDown;
      animation-duration: 1.5s;
    }
  }

  // css para el contenido principal de fundamentos
  .section-fund {
    background-color: #262a31;
    @include flex;

    .cont-dropdowns {
      display: flex;
      div {
        margin: 2vw;
      }
    }

    &__cont-texto {
      width: 50vw;
      padding: 7vh 0 0 0;
      p {
        @include parrafo;
        a {
          color: #ffaa00;
          font-size: 1.3vw;
          text-decoration: none;
          text-transform: uppercase;
          padding-left: 1vw;
        }
      }
      h4 {
        @include h4;
      }
      h3 {
        @include h3;
      }
      h2 {
        @include h2;
      }
      img {
        padding: 3vh 0;
        width: 50vw;
      }
    }
  }
}

// css para Avanzado
#main-avanzado {
  background-color: #262a31;
  // css para el banner de avanzado
  .banner-avanzado {
    @include banners;
    background-image: url(../imgs/imagenes-avanzado/banner-avanzado.png);
  }
  .cont-titulo-avanzado {
    @include cont-titulo-banner;
    top: 35vh;
    &__titulo {
      @include titulo-banner;
      animation-name: backInDown;
      animation-duration: 1.5s;
    }
  }

  // css para el contenido principal de avanzado
  .section2-avanzado {
    @include flex;
    &__cont-textos {
      width: 50vw;
      margin: 5vh 0;
      h2 {
        @include h2;
      }
      h3 {
        @include h3;
      }
      h4 {
        @include h4;
      }
      p {
        @include parrafo;
      }
      img {
        padding: 3vh 0;
        width: 50vw;
      }
    }
  }
}

// css para adcGuide
#main-adc {
  background-color: #262a31;
  .banner-adc {
    @include banners;
    background-image: url(../imgs/imagenes-AdcGuide/banner-adc.png);
  }
  .cont-titulo-adc {
    @include cont-titulo-banner;
    top: 40vh;
    left: 10vw;
    &__titulo {
      @include titulo-banner;
      animation-name: backInDown;
      animation-duration: 1.5s;
    }
  }
  .section-guiaAdc {
    @include flex;
    &__cont-texto {
      width: 50vw;
      h2 {
        @include h2;
      }
      h3 {
        @include h3;
      }
      p {
        text-align: left;
        color: #ffffff;
        font-size: 1.5vw;
        padding: 1vw 0;
        line-height: 3vw;
      }
      img {
        padding: 3vh 0;
        width: 50vw;
      }
    }
  }
}

// css para conoceme
#main-conoceme {
  background-color: #262a31;
  .banner-conoceme {
    @include banners;
    background-image: url(../imgs/imagenes-conoceme/banner-conoceme.png);
  }
  .cont-titulo-conoceme {
    @include cont-titulo-banner;
    top: 45vh;
    left: 15vw;
    &__titulo {
      @include titulo-banner;
      animation-name: backInDown;
      animation-duration: 1.5s;
    }
  }
  .section-conoceme {
    @include flex;
    &__cont-texto {
      width: 55vw;
      padding-top: 15vh;
      .slide {
        padding-bottom: 3vh;
      }
      .slide img {
        height: 80vh;
        width: 70vw;
      }
      .titulo-carrusel {
        font-size: 4vw;
        text-align: center;
      }
      h3 {
        @include h3;
      }
      h2 {
        @include h2;
      }
      p {
        @include parrafo;
      }
      .opgg {
        color: #ffaa00;
      }
      .cont-ul-conoceme {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      ul {
        margin: 5vw;
      }
    }
    &__icono {
      color: white;
      font-size: 15vw;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 860px) {
  // css responsive para el header
  header {
    .nav-menu {
      //   css para el nav no-desplegable
      .cont-logo-btn {
        .logo {
          width: 18vw;
        }
        .cont-boton-responsive {
          margin-right: 4vw;
          .boton-novisible {
            .boton-responsive {
              font-size: 5vw;
            }
          }
        }
      }
      // css para el nav desplegable
      .fondo-menu {
        div {
          .lolguide {
            font-size: 16px;
          }
          .boton-cerrar {
            margin-right: 3vw;
          }
        }
        div {
          .link {
            padding: 4vh 0;
            font-size: 14px;
          }
        }
      }
    }
  }
  // css responsive para el footer
  .footer {
    // css para las redes sociales
    .cont-redes {
      &__titulo {
        font-size: 15px;
        padding: 5vh 0 3vh 0;
        width: 55vw;
      }
      &__lista {
        li {
          padding-bottom: 4vh;
          a {
            margin-left: 2vw;
            font-size: 13px;
          }
        }
      }
    }
    // css para los derechos de autor
    .cont-derechos {
      &__texto {
        width: 55vw;
        font-size: 10px;
        padding-top: 1vh;
      }
    }
  }

  // css responsive para el banner de index
  .banner {
    height: 80vh;
  }
  // css responsive para el main de index
  .section {
    &__cont-textos {
      width: 70vw;
      margin-bottom: 0;
      h2 {
        font-size: 18px;
        color: #ffaa00;
        text-align: center;
        padding-top: 10vh;
      }
      p {
        font-size: 14px;
        line-height: 35px;
      }
      img {
        width: 70vw;
        height: auto;
        padding: 4vh 0;
        max-width: 100%;
      }
    }
  }
  // css responsive para fundamentos principales

  #main-fundamentos {
    .banner-fundamentos {
      height: 80vh;
    }
    // css responsive para el contenido principal de fundamentos
    .section-fund {
      &__cont-texto {
        width: 70vw;
        padding: 7vh 0 0 0;
        p {
          font-size: 14px;
          line-height: 35px;
          padding-bottom: 5vh;
          a {
            font-size: 12px;
            padding-left: 2vw;
          }
        }
        h4 {
          font-size: 14px;
          padding-top: 3vh;
        }
        h3 {
          font-size: 16px;
        }
        h2 {
          font-size: 18px;
          padding-bottom: 5vh;
        }
        img {
          padding: 2vh 0;
          width: 70vw;
        }
      }
    }
  }

  // css responsive para avanzado
  #main-avanzado {
    .banner-avanzado {
      height: 80vh;
    }
    // css para el titulo de avanzado
    .section1-avanzado {
      &__cont-titulo {
        padding-top: 20vh;
      }
    }

    // css para el contenido principal de avanzado
    .section2-avanzado {
      &__cont-textos {
        width: 70vw;
        margin: 5vh 0;
        h2 {
          font-size: 18px;
          padding: 2vh 0;
        }
        h3 {
          font-size: 16px;
          padding-top: 5vw;
        }
        h4 {
          font-size: 14px;
          padding-top: 3vh;
        }
        p {
          font-size: 14px;
          line-height: 35px;
        }
        img {
          padding: 3vh 0;
          width: 70vw;
        }
      }
    }
  }

  // css para adcGuide
  #main-adc {
    .banner-adc {
      height: 80vh;
    }
    .section-guiaAdc {
      &__cont-titulo {
        width: 60vw;
      }
      &__cont-texto {
        width: 70vw;
        h2 {
          font-size: 18px;
          padding-top: 4vw;
        }
        h3 {
          font-size: 16px;
          padding-top: 4vw;
        }
        p {
          font-size: 14px;
          padding: 2vw 0;
          line-height: 35px;
        }
        img {
          padding: 3vh 0;
          width: 70vw;
        }
      }
    }
  }

  // css responsive para conoceme
  #main-conoceme {
    .banner-conoceme {
      height: 80vh;
    }
    .cont-titulo-conoceme {
      top: 40vh;
    }
    .section-conoceme {
      &__cont-texto {
        width: 70vw;
        padding-top: 15vh;
        .slide {
          padding-bottom: 10vh;
        }
        .slide img {
          height: 40vh;
          width: 80vw;
        }
        .titulo-carrusel {
          font-size: 25px;
          text-align: center;
        }
        h3 {
          font-size: 16px;
        }
        h2 {
          font-size: 18px;
        }
        p {
          font-size: 16px;
          line-height: 35px;
        }
        .opgg {
          color: #ffaa00;
        }
        ul {
          padding-bottom: 0;
        }
        li {
          padding: 5vh 5vw;
        }
      }
      &__icono {
        color: white;
        font-size: 15vw;
        text-decoration: none;
      }
    }
  }
}
